body {
   width: 100%;
   height: 100vh;
   margin: 0;
   padding: 0;
   position: fixed;
}

.lil-gui {
   background-color: transparent;
}

.lil-gui .title {
   background-color: #111111;
}

.lil-gui .children {
   background-color: #42424266;
}

.output {
   right: unset;
   left: 15px;
}

.weight,
.weight input {
   color: aquamarine !important;
}

.buoyancy,
.buoyancy input {
   color: yellowgreen !important;
}

.drag,
.drag input {
   color: deeppink !important;
}

.thrust,
.thrust input {
   color: lime !important;
}

.wind,
.wind input {
   color: gold !important;
}

.acceleration,
.acceleration input {
   color: aqua !important;
}

.velocity,
.velocity input {
   color: orange !important;
}

.position,
.position input {
   color: yellow !important;
}

.lil-gui .controller.disabled {
   opacity: 1;
}

.output_fps {
   top: unset !important;
   bottom: 0;
}