body {
   width: 100%;
   height: 100vh;
   margin: 0;
   padding: 0;
   position: fixed;
}

#warning {
   display: none;
}

.warning {
   display: block !important;
   color: red;
   font-size: 50px;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   background-color: black;
   padding: 10px;
   border-radius: 100000px;
   border: orange 10px double;
   animation: strob 1.5s cubic-bezier(0, 5, 1, 5) infinite;
}

@keyframes strob {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

.lil-gui {
   background-color: transparent;
}

.lil-gui .title {
   background-color: #111111;
}

.lil-gui .children {
   background-color: #42424266;
}

.output {
   right: unset;
   left: 15px;
}

.weight,
.weight input {
   color: aquamarine !important;
}

.buoyancy,
.buoyancy input {
   color: yellowgreen !important;
}

.drag,
.drag input {
   color: deeppink !important;
}

.thrust,
.thrust input {
   color: lime !important;
}

.wind,
.wind input {
   color: gold !important;
}

.acceleration,
.acceleration input {
   color: aqua !important;
}

.velocity,
.velocity input {
   color: orange !important;
}

.position,
.position input {
   color: yellow !important;
}

.lil-gui .controller.disabled {
   opacity: 1;
}

.output_fps {
   top: unset !important;
   bottom: 0;
}